html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}


#calculateBtn, #calculateBtn2 {
	height:31px;
	width:160px;	
	margin-top:5px;
	border:none;
	cursor: pointer;
	}
	
#calculateBtn{
	background:url(../images/calculate-btn.png) 0 0 no-repeat;
}

#calculateBtn2{
	background:url(../images/compare-btn.png) 0 0 no-repeat;
}
#calculateBtn:hover,
#calculateBtn2:hover{
	background-position:0 -31px;
}

.hide {
	display: none;
}

.genderTabs span.on {
    background-color: #1C94C4;
    color: #ffffff;
}

.genderTabs span.female {
    background: url(/themes/nutley/images/sprites.png) 10px 1px no-repeat #ddd;
}
.genderTabs span.male {
    background: url(/themes/nutley/images/sprites.png) 10px -49px no-repeat #ddd;
}
.genderTabs span {
    display: inline-block;
    max-width: 80px;
    text-align: center;
    padding: 5px 10px 4px 33px;
    margin-right: 10px;
    background-color: #ddd;
    border-radius: 5px;
    color: #aaa;
    cursor: pointer;
}
.genderTabs span.on {
    background-color: #1C94C4;
    color: #ffffff;
}

.field--name-field-tags a {
    display: inline-block;
    background: url(/themes/nutley/images/tag.png) left center no-repeat;
    padding: 0.3em 0.6em 0.3em 1.8em;
    color: #6c6c6c;
    text-shadow: 1px 1px #fff;
    border-radius: 2px;
    font-size: 1.2em;
    margin-top: 10px;
    background-size: cover;
	border: none;
}

.gotoLink {
    margin-top: 20px;
    border-top: 1px solid #ccc;
    padding-top: 6px;
}

.gotoLink a:visited, .gotoLink a:hover {
    color: #fff;
    text-decoration: none;
}

.gotoLink a {
    display: inline-block;
    padding: 3px 8px;
    background: #1C94C4;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
    color: #fff;
    text-decoration: none;
    margin: 0 6px 6px 0;
}

fieldset {
    border: 1px solid #ccc;
    margin: 0 0 1.4615em;
    padding: 1.5385em;
}

.helpBox {
    border: 1px solid #fff;
    background: #e5e5e5;
    -moz-border-radius: 8px;
    border-radius: 8px;
    padding: 5px 10px 15px 20px;
    position: relative;
    margin: 10px 0 0 0;
}

.panel2 {
    border: 1px solid #fff;
    margin: 3px 0 10px 0;
    background: url(/themes/nutley/images/pw_maze_white/tiny_grid_2.png) 15px -13px repeat-x #e5e5e5;
    -moz-border-radius: 8px;
    border-radius: 8px;
    padding: 5px 10px 20px 10px;
    position: relative;
}